* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-size-adjust: none;
}

html, body {
    height: 100%;
}

body {
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
}

.container {
    width: 1200px;
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    min-height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.header:after {
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    top: -10px;
    left: -10px;
    background-image: url(img/bg.jpg);
    filter: blur(5px);
    z-index: -1;
}

.header .logo {
    display: block;
    width: 420px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.header .logo img {
    width: 100%;
}

.header .social {
    display: flex;
    justify-content: space-between;
    width: 410px;
    margin: 0 auto;
}

.icon {
    transition: .4s;
}

.icon-container:hover .fb {
    fill: #3b5998;
}
.icon-container:hover .vk {
    fill: #5075a5;
}
.icon-container:hover .soundcloud {
    fill: #ff6a22;
}
.icon-container:hover .insta {
    fill: #DB3073;
}
.icon-container:hover .youtube {
    fill: #c8312b;
}
.icon-container:hover .mm {
    fill: #3b5894;
}

@media screen and (max-width: 480px) {
    .header .logo {
        width: 90%;
    }

    .header .social {
        width: 210px;
        flex-wrap: wrap;
    }

    .header .social a {
        display: block;
        margin: 0 15px 15px 0;
    }

    .header .social a:nth-child(3n) {
        margin-right: 0;
    }
}

