@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-size-adjust: none;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    line-height: 20px;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 800px;
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    min-height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.header .logo {
    display: block;
    width: 420px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.header .logo img {
    width: 100%;
    margin: 10px 0 0 0;
}

.header .social {
    display: flex;
    justify-content: space-between;
    width: 410px;
    margin: 0 auto;
}

.header h1 {
    text-align: center;
    font-size: 35px;
    margin: 50px 0 40px;
}

.header ul {
    list-style: none;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.header ul li {
    border-top: 1px solid white;
    padding: 15px 0 15px;
    line-height: 29px;
}

.header ul li:last-child {
    border-bottom: 1px solid white;
}

.icon {
    transition: .4s;
}

.icon-container:hover .fb {
    fill: #3b5998;
}

.icon-container:hover .vk {
    fill: #5075a5;
}

.icon-container:hover .soundcloud {
    fill: #ff6a22;
}

.icon-container:hover .insta {
    fill: #DB3073;
}

.icon-container:hover .youtube {
    fill: #c8312b;
}

.icon-container:hover .mm {
    fill: #3b5894;
}

@media screen and (max-width: 815px) {
    .header .logo {
        width: 380px;
    }
}

@media screen and (max-width: 480px) {
    body {
        overflow: auto;
    }

    .header .container {
        padding: 20px 0 0;
    }

    .header .logo {
        width: 90%;
    }

    .header .social {
        width: 210px;
        flex-wrap: wrap;
    }

    .header .social a {
        display: block;
        margin: 0 15px 15px 0;
    }

    .header .social a:nth-child(3n) {
        margin-right: 0;
    }

    .header h1 {
        margin: 35px 0 40px;
    }

    .header ul li:last-child {
        padding: 15px 5px;
    }
}